:root{
    --primary-color:#28bf96;
    --primary-color-dark:#209677;
    --text-dark:#111827;
    --text-light:#6b7280;
    --white:#ffffff;
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-image: url("https://img.freepik.com/premium-vector/technology-global-blue-wide-banner-design-background-abstract-3d-banner-design-with-dark-blue-technology-geometric-background-vector-illustration_181182-27934.jpg?w=1800");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
    background-size: 100% 100%;
}

.container{
    max-width: 1200px;
    margin:auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav{
    /* padding: 2rem 1rem; */
    display:flex;
    justify-content: space-between;
    /* gap: 1rem; */
    overflow: hidden;
    text-decoration: none;
    margin-top: 50px;
    margin-left: none;
}

.nav_links{
    list-style: none;
    display: flex;
    text-decoration: none;
    gap: 2rem;
}

.link a{
    text-decoration: none;
    color:rgb(77, 3, 3);
    cursor:pointer;
    transition: 0.3s;
    font-size: 30px;
   
}

.link a:hover{
    color:var(--primary-color);
}

.header{
    padding:0 1rem;
    flex: 1;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 170px; 
   
}

.content h1{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    color:rgb(228, 152, 11);
}

.content h1 span{
    font-weight:400;
}

.content p{
    margin-bottom: 2rem;
    color:rgb(20, 173, 6);
    line-height: 1.75rem;
}